<div class="trait-value js-trait-value">
  <input type="hidden" name="id" value="{{id}}">
  <span class="delete-button js-delete-trait-value">✖</span>
  <input name="value" type="text" value="{{value}}" required>
</div>
